/* Layout for the header section of the Courses component */
.courses-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	width: 100%;
	padding: 0 15px;
}

/* Styling for the search bar to stack elements vertically */
.courses-header .search-bar {
	flex: 2;
	display: flex;
	flex-direction: column;  /* Stack child elements vertically */
	justify-content: center;
	align-items: stretch;  /* Allow child elements to take full width */
}

.courses-header .search-bar input {
	padding: 10px 14px;
	border: 2px solid #007BFF;
	border-radius: 5px;
	font-size: 1em;
	margin-bottom: 10px;  /* Spacing between input and button */
}

/* Styling for the search button to ensure consistent size */
.courses-header .search-bar button {
	padding: 10px 20px;  /* Adjusted padding for a more suitable width */
	border: none;
	border-radius: 5px;
	background-color: #007BFF;
	color: #FFF;
	font-size: 1em;  /* Adjusted font size */
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-top: 10px;  /* Spacing between the input field and the button */
	white-space: nowrap;  /* Ensuring text doesn't wrap or get cut off */
}

.courses-header .search-bar button:hover {
	background-color: #0056b3;
}

/* Styling for the "Add New Course" button to match the search button size */
.courses-header button {
	padding: 12px 40px;  /* Increased padding for a wider appearance */
	border: 1px solid #007BFF;
	border-radius: 5px;
	background-color: #007BFF;
	color: #FFF;
	font-size: 1.1em;  /* Larger font size for prominence */
	transition: background-color 0.3s ease;
	margin-left: 20px;  /* Some distance from the search bar */
}

.courses-header button:hover {
	background-color: #0056b3;
}
