/* Layout for the header section of the Courses component */
.courses-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	width: 100%;
}

/* Styling for the search bar to stack elements vertically */
.courses-header .search-bar {
	display: flex;
}

.courses-header .search-bar input {
	border: 2px solid #e2e6eb;
	font-size: 1em;
	width: 80%;
	padding: 20px;
	margin-top: 10px;
}

/* Styling for the search button to ensure consistent size */
.courses-header .search-bar button {
	align-items: center;
	border-radius: 5px;
	background-color: #007298;
	color: #FFF;
}

.courses-header .search-bar button:hover {
	background-color: #0056b3;
}

/* Styling for the "Add New Course" button to match the search button size */
.courses-header button {
	display: flex;
	align-items: center;
	border-radius: 4px;
	background:  #007298;
	color: #FFF;
}

.courses-header button:hover {
	background-color: #0056b3;
}
