.app-container {
    font-family: Arial, sans-serif;
    width: 1240px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 60px;  /* Adjust based on your logo's size */
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333E48;
    opacity: 0.5;
}

.error {
    color: red;
    font-size: 14px;
}