.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.search-bar input {
    flex: 1;
    padding: 10px 14px;  /* Adjusted padding */
    border: 2px solid #007BFF;  /* Adjusted border */
    border-radius: 5px;
    font-size: 1em;
    margin-right: 10px;
}

.search-bar button {
    padding: 9px 18px;  /* Adjusted padding */
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #FFF;
    font-size: 0.95em;  /* Adjusted font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0056b3;
}
